*/doc/build/
*/doc/source/figures/*.eps
*/doc/source/figures/*.pdf
*/doc/*.png

# ignore any original NS3 source files and only track new files

antenna/*
aodv/*
applications/*
bridge/*
brite/*
buildings/*
click/*
config-store/*
core/*
create-module.py
csma/*
csma-layout/*
dsdv/*
dsr/*
energy/*
fd-net-device/*
flow-monitor/*
internet/*
internet-apps/*
lr-wpan/*
lte/*
mesh/*
mobility/*
mpi/*
netanim/*
network/*
nix-vector-routing/*
olsr/*
openflow/*
point-to-point/*
point-to-point-layout/*
propagation/*
sixlowpan/*
spectrum/*
stats/*
tap-bridge/*
test/*
topology-read/*
uan/*
virtual-net-device/*
visualizer/*
wave/*
wifi/*
wimax/*
wscript

traffic-control/bindings/*
traffic-control/doc/*
traffic-control/examples/*
traffic-control/helper/*
traffic-control/test/*
traffic-control/wscript

traffic-control/model/codel-queue-disc.cc
traffic-control/model/codel-queue-disc.h
traffic-control/model/fifo-queue-disc.cc
traffic-control/model/fifo-queue-disc.h
traffic-control/model/fq-codel-queue-disc.cc
traffic-control/model/fq-codel-queue-disc.h
traffic-control/model/mq-queue-disc.cc
traffic-control/model/mq-queue-disc.h
traffic-control/model/packet-filter.cc
traffic-control/model/packet-filter.h
traffic-control/model/pfifo-fast-queue-disc.cc
traffic-control/model/pfifo-fast-queue-disc.h
traffic-control/model/pie-queue-disc.cc
traffic-control/model/pie-queue-disc.h
traffic-control/model/prio-queue-disc.cc
traffic-control/model/prio-queue-disc.h
traffic-control/model/queue-disc.cc
traffic-control/model/queue-disc.h
traffic-control/model/red-queue-disc.cc
traffic-control/model/red-queue-disc.h
traffic-control/model/tbf-queue-disc.cc
traffic-control/model/tbf-queue-disc.h
traffic-control/model/traffic-control-layer.cc
traffic-control/model/traffic-control-layer.h

