*/doc/build/
*/doc/source/figures/*.eps
*/doc/source/figures/*.pdf
*/doc/*.png

# ignore any original NS3 source files and only track new files

antenna/*
aodv/*
applications/*
bridge/*
brite/*
buildings/*
click/*
config-store/*
core/*
create-module.py
csma/*
csma-layout/*
dsdv/*
dsr/*
energy/*
fd-net-device/*
flow-monitor/*
internet/*
internet-apps/*
lr-wpan/*
lte/*
mesh/*
mobility/*
mpi/*
netanim/*
network/*
nix-vector-routing/*
olsr/*
openflow/*
point-to-point/*
point-to-point-layout/*
propagation/*
sixlowpan/*
spectrum/*
stats/*
tap-bridge/*
test/*
topology-read/*
uan/*
virtual-net-device/*
visualizer/*
wave/*
wifi/*
wimax/*
wscript

traffic-control/bindings/*
traffic-control/doc/*
traffic-control/examples/*
traffic-control/helper/*
traffic-control/test/*
traffic-control/wscript

traffic-control/model/codel-queue-disc.cc
traffic-control/model/codel-queue-disc.h
traffic-control/model/fifo-queue-disc.cc
traffic-control/model/fifo-queue-disc.h
traffic-control/model/fq-codel-queue-disc.cc
traffic-control/model/fq-codel-queue-disc.h
traffic-control/model/mq-queue-disc.cc
traffic-control/model/mq-queue-disc.h
traffic-control/model/packet-filter.cc
traffic-control/model/packet-filter.h
traffic-control/model/pfifo-fast-queue-disc.cc
traffic-control/model/pfifo-fast-queue-disc.h
traffic-control/model/pie-queue-disc.cc
traffic-control/model/pie-queue-disc.h
traffic-control/model/prio-queue-disc.cc
traffic-control/model/prio-queue-disc.h
traffic-control/model/red-queue-disc.cc
traffic-control/model/red-queue-disc.h
traffic-control/model/tbf-queue-disc.cc
traffic-control/model/tbf-queue-disc.h
traffic-control/model/traffic-control-layer.cc
traffic-control/model/traffic-control-layer.h

network/utils/address-utils.cc
network/utils/address-utils.h
network/utils/ascii-file.cc
network/utils/ascii-file.h
network/utils/ascii-test.h
network/utils/crc32.cc
network/utils/crc32.h
network/utils/data-rate.cc
network/utils/data-rate.h
network/utils/drop-tail-queue.cc
network/utils/drop-tail-queue.h
network/utils/dynamic-queue-limits.cc
network/utils/dynamic-queue-limits.h
network/utils/error-channel.cc
network/utils/error-channel.h
network/utils/error-model.cc
network/utils/error-model.h
network/utils/ethernet-header.cc
network/utils/ethernet-header.h
network/utils/ethernet-trailer.cc
network/utils/ethernet-trailer.h
network/utils/flow-id-tag.cc
network/utils/flow-id-tag.h
network/utils/generic-phy.h
network/utils/inet6-socket-address.cc
network/utils/inet6-socket-address.h
network/utils/inet-socket-address.cc
network/utils/inet-socket-address.h
network/utils/ipv4-address.cc
network/utils/ipv4-address.h
network/utils/ipv6-address.cc
network/utils/ipv6-address.h
network/utils/llc-snap-header.cc
network/utils/llc-snap-header.h
network/utils/mac16-address.cc
network/utils/mac16-address.h
network/utils/mac48-address.cc
network/utils/mac48-address.h
network/utils/mac64-address.cc
network/utils/mac64-address.h
network/utils/mac8-address.cc
network/utils/mac8-address.h
network/utils/net-device-queue-interface.cc
network/utils/net-device-queue-interface.h
network/utils/output-stream-wrapper.cc
network/utils/output-stream-wrapper.h
network/utils/packetbb.cc
network/utils/packetbb.h
network/utils/packet-burst.cc
network/utils/packet-burst.h
network/utils/packet-data-calculators.cc
network/utils/packet-data-calculators.h
network/utils/packet-probe.cc
network/utils/packet-probe.h
network/utils/packet-socket-address.cc
network/utils/packet-socket-address.h
network/utils/packet-socket.cc
network/utils/packet-socket-client.cc
network/utils/packet-socket-client.h
network/utils/packet-socket-factory.cc
network/utils/packet-socket-factory.h
network/utils/packet-socket.h
network/utils/packet-socket-server.cc
network/utils/packet-socket-server.h
network/utils/pcap-file.cc
network/utils/pcap-file.h
network/utils/pcap-file-wrapper.cc
network/utils/pcap-file-wrapper.h
network/utils/pcap-test.h
network/utils/queue.cc
network/utils/queue.h
network/utils/queue-item.cc
network/utils/queue-item.h
network/utils/queue-limits.cc
network/utils/queue-limits.h
network/utils/queue-size.cc
network/utils/queue-size.h
network/utils/radiotap-header.cc
network/utils/radiotap-header.h
network/utils/sequence-number.h
network/utils/sgi-hashmap.h
network/utils/simple-channel.cc
network/utils/simple-channel.h
network/utils/simple-net-device.cc
network/utils/simple-net-device.h
network/utils/sll-header.cc
network/utils/sll-header.h

